.picturePopup{
    max-width: 100%;
}

/*Allow scrolling if the description is too long */
.modal .modal-body {
    max-height: 350px;
    overflow-y: auto;
}

#modifObj .modal-body {
  max-height: 700px;
  padding: 35px;
}

#modifObj-btn, #dismiss-button2 {
  margin-top: 25px;
}